body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-size:cover;
    background-position:center;
    font-family:Arial;
}

.card{
    background:rgba(255,255,255,0.9);
    padding:40px;
    border-radius:15px;
    text-align:center;
    width:320px;
}

.card img{
    width:150px;
    margin-bottom:15px;
}

button, a{
    display:block;
    margin:10px auto;
    padding:10px 25px;
    background:green;
    color:white;
    border:none;
    border-radius:8px;
    text-decoration:none;
    cursor:pointer;
}

a.logout{
    background:red;
}
